BraveSoftware/Brave-Browser
Code
Thunar
dconf
gtk-2.0
lazygit
lvim
neofetch
nitrogen
pulse
spicetify/Extracted/Raw/login/images
spicetify/Extracted/Raw/xpui
spicetify/Extracted/Raw/zlink
spicetify/Extracted/Themed
spicetify/Themes
spotify
zoom.conf
zoomus.conf
user-dirs.locale
user-dirs.dirs
mimeapps.list
autostart/libinput-gestures.desktop
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.gsd-keyboard.settings-ported
background
QtProject.conf
light
htop/htoprc
jgit/config
libreoffice*
octave*
xfce*
kactivitymanagerdrc
kglobalshortcutsrc
