BraveSoftware/Brave-Browser
Code
Thunar
dconf
gtk-2.0/gtkfilechooser.ini
lazygit
lvim
neofetch
nitrogen
pulse
spicetify/Extracted/Raw/login/images
spicetify/Extracted/Raw/xpui
spicetify/Extracted/Raw/zlink
spicetify/Extracted/Themed
spicetify/Themes
spotify
zoom.conf
zoomus.conf
user-dirs.locale
user-dirs.dirs
mimeapps.list
autostart/libinput-gestures.desktop
.gitignore
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.gitignore
.gsd-keyboard.settings-ported
background
.gitignore
.gitignore
